*{
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  margin: 0;
  height: 100%;
}
#root{
  height: 100%;
}
.container{
  height: 100%;
  font-size: 16px;
}
.menu{
  width: 100%;
  height: 2em;
  border-bottom: 1px solid #efefef;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
  padding: 0 10%;
  position: absolute;
  background: #fff;
}
.menu_item a{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}
.menu_item a:hover{
  text-decoration: none;
  color: #000;
  opacity: 0.7;
}
.menu_item{
  display: inline-block;
  vertical-align: top;
  margin: 0 1em 0 0;
  font: bold 1em/2em sans;
}
.content{
  background: rgb(245,245,245);
  width: 100%;
  padding: 3em 10% 1em;
  height: 100%;
  overflow-y: auto;
}
.flight{
  width: 100%;
  border-collapse: collapse;
}
.flight_head{
  font: bold 1em/1em sans;

}
.flight_body{
  font: 1em/1em sans;

}
.flight_row{
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.flight_item{
  padding: 0.5em 1em 0.5em 0;
}
.flight_item p{
  width: 135px;
  margin: 0;
}
.flight_item:last-child{
  padding: 0.5em 0 0.5em 0;
}
.flight_del{
  width: 1em !important;
  height: 1em;
  position: relative;
  margin: 0;
  cursor: pointer;
}
.flight_del:before{
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  background: red;
  transform: rotate(45deg);
  left: calc((1em - 2px) / 2);
}
.flight_del:after{
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  background: red;
  transform: rotate(-45deg);
  left: calc((1em - 2px) / 2);
}
.flight_ok{
  width: 1em !important;
  height: 1em;
  position: relative;
  margin: 0;
  cursor: pointer;
}
.flight_ok:before{
  content: '';
  width: 2px;
  height: 90%;
  position: absolute;
  background: green;
  transform: rotate(25deg);
  left: calc((1em - 2px) / 1.5);
  bottom: 0;
}
.flight_ok:after{
  content: '';
  width: 2px;
  height: 50%;
  position: absolute;
  background: green;
  transform: rotate(-25deg);
  left: calc((1em - 2px) / 2.5);
  bottom: 0;
}
.flight_input {
    width: 135px;
    padding: 0 0.25em;
}
.none{
  display: none !important;
}
.flight_add{
  font: 1em/1em sans;
  text-transform: uppercase;
  padding: 8px 12px 6px;
  border: 1px solid rgba(0, 0, 255, 0.5);
  background: rgba(0, 0, 255, 0.5);
  display: inline-block;
  margin: 1em 0 0;
  float: right;
  cursor: pointer;
  border-radius: 3px;
}